In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import load_iris

train_file_paths = [f'36_TrainingData/L{i}_Train.csv' for i in range(1, 18)]
df_list = [pd.read_csv(file) for file in train_file_paths]
df_data = pd.concat(df_list, ignore_index=True)
df_data.describe()

,LocationCode,WindSpeed(m/s),Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW)
count,1.290894e+06,1.290894e+06,1.290894e+06,1.290894e+06,1.290894e+06,1.290894e+06,1.290894e+06
mean,9.238676e+00,3.225913e-01,1.009297e+03,3.048565e+01,6.933431e+01,2.133491e+04,2.483036e+02
std,5.050529e+00,7.665733e-01,1.678630e+01,8.962605e+00,2.488200e+01,2.893169e+04,4.830954e+02
min,1.000000e+00,0.000000e+00,9.581500e+02,2.000000e+00,1.143000e+01,2.000000e+01,0.000000e+00
25%,5.000000e+00,0.000000e+00,1.004600e+03,2.384000e+01,4.948000e+01,2.798330e+03,1.940000e+00
50%,9.000000e+00,0.000000e+00,1.008290e+03,2.932000e+01,7.139000e+01,8.405830e+03,1.709000e+01
75%,1.400000e+01,0.000000e+00,1.013510e+03,3.569000e+01,9.382000e+01,2.626333e+04,1.693400e+02
max,1.700000e+01,1.725000e+01,9.014550e+03,6.180000e+01,3.000000e+02,1.177582e+05,2.626480e+03

In [2]:
df_data = df_data.drop(columns=['WindSpeed(m/s)', 'Pressure(hpa)'])
df_data.head()

,LocationCode,DateTime,Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW)
0,1,2024-01-01 06:31:08.000,17.5,86.8,25.00,0.0
1,1,2024-01-01 06:32:08.000,17.5,86.7,28.33,0.0
2,1,2024-01-01 06:33:08.000,17.5,86.7,32.50,0.0
3,1,2024-01-01 06:34:08.000,17.5,86.7,39.17,0.0
4,1,2024-01-01 06:35:08.000,17.5,86.7,45.83,0.0

In [ ]:
# correlation 計算
corr = df_data[['WindSpeed(m/s)', 'Pressure(hpa)', 'Temperature(°C)', 'Humidity(%)', 'Sunlight(Lux)', 'Power(mW)']].corr()
plt.figure(figsize=(8,8))
sns.heatmap(corr, square=True, annot=True, cmap="RdBu_r")

In [ ]:
# correlation 計算
corr = df_data[['Temperature(°C)', 'Humidity(%)', 'Sunlight(Lux)', 'Power(mW)']].corr()
plt.figure(figsize=(8,8))
sns.heatmap(corr, square=True, annot=True, cmap="RdBu_r")

In [ ]:
df_data.boxplot(column=['Temperature(°C)',   ], figsize=(10, 10))

In [ ]:
# Calculate Q1 (25th percentile) and Q3 (75th percentile) for numeric columns only
numeric_cols = df_data.select_dtypes(include=[np.number])
Q1 = numeric_cols.quantile(0.25)
Q3 = numeric_cols.quantile(0.75)
IQR = Q3 - Q1

# Filter out the outliers
df_data_no_outliers = df_data[~((numeric_cols < (Q1 - 1.5 * IQR)) | (numeric_cols > (Q3 + 1.5 * IQR))).any(axis=1)]

# Check the number of rows before and after removing outliers
print(f"Original data count: {len(df_data)}")
print(f"Data count after removing outliers: {len(df_data_no_outliers)}")

df_data_no_outliers.describe()

In [15]:
df_data_no_outliers.to_csv('analysised.csv')

In [1]:
import torch
torch.__version__

'2.4.1+cu121'